<!DOCTYPE html>
<html>
  <head>
    <title>FISH BNB</title>
  </head>
  <body>
    <% unless @received.empty? %>
    <ul id='received'>
       <% @received.each do |received| %>
       <li>
         <% if received.approved %>
          <%= received.place.name %>: You have approved this request
          <% elsif received.declined %>
          <%= received.place.name %>: You have declined this request
          <% else %>
           <%= received.user.username %> has requested <%= received.place.name %>
             <form action="/requests/accepted" method="post">
               <input type="hidden" name="place" value="<%=received.place_id%>">
               <input type="hidden" name="request" value="<%=received.id%>">
               <input type="submit" name="accept" value='Accept?'>
            </form>
            <form action="/requests/declined" method="post">
              <input type="hidden" name="request" value="<%=received.id%>">
              <input type="submit" name="accept" value='Decline?'>
           </form>
            <% end %>
      </li>
        <% end %>
    </ul>
    <% end %>

  </body>
</html>
