<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<h1> Book a place </h1>
 <% unless @places.empty? %>
<ul id='places'>
    <% @places.each do |place| %>
    <li>
      Name: <%= place.name %> Description: <%= place.description %> Price: <%= place.price %>
      <% if !place.booked %>
      <form action="/requests/new" method="post">
        <input type="hidden" name="id" value="<%= place.id %>">
        <input type="hidden" name="username" value="<%= place.username %>">
        <button type="submit" name="Book" >Request to Book</button>
      </form>
      <% else %>
      This place is unavailable
      <% end %>
      </li>
    <% end %>
</ul>
<% else %>
No spaces here!
<% end %>
<form action="/places/new">
  <button type="submit" name="Add new place">Add new place</button>
</form>
<form method='post' action='/requests/sent'>
  <input type='hidden' name='id' value='<%= current_user.id %>'>
  <input type='submit' value='View sent requests'>
</form>
<form method='post' action='/requests/received'>
  <input type='hidden' name='username' value='<%= current_user.username %>'>
  <input type='submit' value='View received requests'>
</form>

  </body>
</html>
