<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1><%= @place.name %></h1>

    Name: <%= @place.name %> Description: <%= @place.description %> Price: <%= @place.price %>
    <ul id='availabilities'>
      <% @availabilities.each do |availability| %>
      <li>
        Start date: <%= availability.start_date %>
        End date: <%= availability.end_date %>
      </li>
      <% end %>
    </ul>
    <form action="/places/manage/availability" method="post">
      <input type="hidden" name="id" value="<%= @place.id %>">
      <label for="start_date">
        Start date:
        <input type="date" name="start_date" required/>
      </label>
      <label for="end_date">
        End date:
        <input type="date" name="end_date" required/>
      </label>
      <button type="submit" name="Confirm" >Confirm</button>
    </form>



</body>
</html>
