<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<h1>My places</h1>
 <% unless @places.empty? %>
<ul id='places'>
    <% @places.each do |place| %>
    <li>
      Name: <%= place.name %> Description: <%= place.description %> Price: <%= place.price %>
      <ul id='availabilities'>
        <%  Availability.all(:place_id => place.id).each do |availability| %>
        <li>
          Start date: <%= availability.start_date %>
          End date: <%= availability.end_date %>
        </li>
        <% end %>
      </ul>
      <form action="/places/manage/availability" method="get">
        <input type="hidden" name="id" value="<%= place.id %>">
        <button type="submit" name="Add availability" >Add availability</button>
      </form>
      </li>
    <% end %>
</ul>
<% else %>
No places here!
<% end %>
    <form action='/places'>
    <input type='submit' value='Back'>
    </form>
  </body>
</html>
